* {
  font-family: ;
}

body{
  display:flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  color: black;
}

a {
  text-decoration: none;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  flex-direction: column;
}

.loader-icon {
  animation: spin 4s linear infinite;
  color: white;
  margin: 50px;
  text-align: center;
}
.loader-container img {
  width: 75px;
  height: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.city-item {
  width: 200px;
  margin: 25px;
  margin-top: 50px;
  text-align: center;
  line-height: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 10px 10px 8px #888888;
}

.city-item h3 {
  color: white;
}

.city-item:hover {
  transform: scale(1.2);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.city-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us {
  /* padding:25px; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100px;
  height:50px;
  text-align: center;
  color: white;
  border-radius:5px;
  line-height:50px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu h1 {
  margin: 25px;
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    25% 100%,
    from(rgb(61, 58, 58)),
    to(rgb(30, 147, 226))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-form {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  
  border-radius: 10px;
  margin: 25px;
}

#contactForm h1 {
  color: white;
}

#contactForm input {
  margin: 10px;
}

.form-error {
  display: none;
  color: white;
  font-size: 0.9rem;
  margin-top: 2px;
  font-weight: bold;

}

input {
  width: 400px;
}

.success-message {
  background-color: lightgreen;
  margin: 0 auto;
  border: solid 2px green;
  white;
  display: none;
}

button{
  margin:20px;
  
}


.api-error-div{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.api-error-div img{
  width:300px;

}

.city-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding:20px;
  margin:20px;
  border-radius: 1rem;
  color:white;
}